/**
 *
 */

.creator
	padding-left: 16px
	font-size:   9pt
	color:       $silver-chalice

.color-select
	// We use negative margin here to offset the padding set in the dialog
	margin: -16px -16px -8px -16px

	.value
		margin-bottom: 8px
		height: 24px
		background-color: $wedgewood

	.options
		text-align:center
		margin-top: 10px
		@include flex-direction(row)

		.option
			@media (max-width: 1000px)
				margin-left: 2.5vw
				margin-right: 2.5vw
			margin-left: 20px
			margin-right: 20px
			cursor: pointer
			@include flex(1)
			@include circle(50px, inline-block)