/**
 *
 */
.dropdown
    //width:            250px
    border-radius:    2px
    background-color: $bastille
    display: inline-block

    @include layer(1000)

    .item
        @include position(relative)
        @include transition(all, 0.2s)

        //width: auto
        height: 28px
        padding: 8px 0px

        color:       $gallery
        cursor:      pointer
        line-height: 28px
        overflow:    hidden
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

        .fa-fw
            float: left
            width: 20px
            margin: 0px 8px

        .dropdown-content

        .profile-name
            font-size: 16px
            max-width: 198px
            text-align: center
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
            margin-left: 10px

        &:first-child
            border-top-left-radius:  2px
            border-top-right-radius: 2px

        &:last-child
            border-bottom-left-radius:  2px
            border-bottom-right-radius: 2px

        border-bottom: 1px solid $voodoo

        &.disabled
            color:  $dove-gray
            cursor: default

        span
            @include margin(0 10 0 0)
            float:        left
            line-height:  28px

        &:not(.disabled):hover
            color:            $white
            background-color: $affair

        &:last-child
            border-bottom: 0px

        img
            float: left
            @include margin(4 10 0 14)
            height: 20px
